<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
          $.ajax({
              url: '/wallet',
              type: 'POST',
              success: function (response) {
                  $('#public_key').val(response['public_key']);
                  $('#private_key').val(response['private_key']);
                  $('#blockchain_address').val(response['blockchain_address']);
                  console.info(response)
              },
              error: function(error) {
                  console.error(error)
              }
          })
        })
    </script>
</head>
<body>
    <div>
        <h1>Wallet</h1>
        <div id="wallet_amount">0</div>
        <button id="reload_wallet">Reload wallet</button>

        <p>Public key</p>
        <textarea id="public_key" cols="100" rows="2"></textarea>

        <p>Private key</p>
        <textarea id="private_key" cols="100" rows="2"></textarea>
        
        <p>Blockchain address</p>
        <textarea id="blockchain_address" cols="100" rows="2"></textarea>
    </div>
    <div>
        <h1>Send Money</h1>
        <div>
            Address: <input type="text" id="recipient_blockchain_address" size="100">
            <br>
            Amount: <input type="text" id="send_amount">
            <br>
            <button id="send_money">SEND</button>
        </div>
    </div>
</body>
</html>